*{
    margin: 0 0;
}
body{
    background-image: url("images/bg-mobile.svg");  
    background-repeat: no-repeat;
    background-color: #684BB1;
}
.logo{
    width: 120px;
    margin-left: 40px;
}
.illustration{
    width: 280px;
    margin-left: 40px;
    margin-bottom: 95px;
}
h1{
    font-weight:600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: white;
}
section{
    width: 375px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 70px;
}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
    margin-top: 16px;
}
button{
    margin-top: 24px;
    padding:11px 0px;
    width: 200px;
    border-radius: 20px;
    color:#684BB1;
    background-color: white;
    border: none;
}
button:hover{
    background-color:#E880E8 ;
    color: white;
}
i{
    color: white; 
}

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 64px;
}

.images{
   display: flex;
   gap: 10px;
}

.icon{
width: 27px;
height: 27px;
border-radius: 50%;
border: 1px solid white;
display: flex;
align-items: center;
justify-content: center;
}
@media (min-width:1100px) {
    .logo{
        width: 200px;
        margin-top: 64px;
       
    }
    .illustration{
        width: 660px;
    }
    body{
        background-image: url("images/bg-desktop.svg");
        background-size: 100%;
    }
    h1{
        font-size: 40px;
        width: 487px;
        text-align: left;
    }
    section{
      display: flex;
      flex-direction: row;
      width: 1276px;
      margin: auto;
      margin-top: 104px;
    }
    p{
     font-size: 18px;
     width: 520px;
     margin-top: 60px;
     text-align: left;
    }
    .build{ 
    margin-left: 60px;
    }
    button{
      border-radius: 28px;
      position: relative;
      right: 150px;
      padding: 16px 0;
    }
    header{
        width: 1276px;
        margin: auto;
    }
    .icon{
        width: 40px;
        height: 40px;
    }
    footer{
        width: 1276px;
        margin: auto;
        display: flex;
        justify-content: end;
    }
}